<% include ../partials/header.ejs%>
<div class='container default-page-top-margin''>
    <h1 class='center-text-item'>New Comment</h1>
    <div class='row'>
        <div class='form-setup'>
            <form action='/tasks/<%=task.id%>/comments' method='POST'>
                <div class='form-group'>
                    <label for='username'>User</label>
                    <input class='form-control' name='createdBy[username]' type='text' id='username' value='<%=currentUser.username%>' readonly>
                </div>
                <div class='form-group'>
                    <label for='text'>Comment</label>
                    <input class='form-control' type='text' name='comment[text]' id='comment' placeholder='comment text...'>
                </div> 
                <button class='btn btn-lg btn-primary btn-block' type='submit'>Create</button>
            </form>
            <a href='/tasks/<%=task.id%>'>Back!</a>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs%>