<% include ../partials/header.ejs%>
<div class='container default-page-top-margin'>
    <h2 class='center-text-item'>Edit Batch</h1>
    <div class='row'>
        <div class='form-setup'>
            <form method='POST' action='/batches/<%=batch.id%>?_method=PUT'>
                <div class='form-group'>
                    <label for='name'>Batch Name</label>
                    <input class='form-control' type='text' name='batch[name]' id='name' value='<%=batch.name%>'>
                </div>
                <input class='btn btn-success btn-block' type='submit' value='Update'>
            </form>
            <a href='/batches/<%=batch.id%>'>Back!</a>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>