<h1>Batches New </h1>
<a href='/batches'>All Batches</a>
<hr>
<form method='POST' action='/batches'>
    <label for='name'>Batch Name</label>
    <input type='text' name='name' id='name'>
    <input type='submit' value='Create'>
</form>