<% include ../partials/header.ejs%>
<div class='container default-page-top-margin'>
    <h2 class='center-text-item'>Create Batch</h1>
    <div class='row'>
        <div class='form-setup'>
            <form method='POST' action='/batches'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input class='form-control' type='text' name='batch[name]' id='name' placeholder='batch name'>
                </div>
                <div class='form-group'>
                    <label for='desc'>Description</label>
                    <input class='form-control' type='text' name='batch[desc]' id='desc' placeholder='description...'>
                </div>
                <input class='btn btn-success btn-block' type='submit' value='Create'>
            </form>
            <a href='/batches'>Back!</a>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs%>