<form method='POST' action='/auth/register'>
<label for='username'>Username</label>
<input type='text' name='username' id='username' placeholder='username' required>
<label for='password'>Password</label>
<input type='password' name='password' id='password'placeholder='password' required>
<label for='email'>Email</label>
<input type='email' name='email' id='email' placeholder='email'>
<label for='role'>Role</label>
<select name='role'>
    <option value='standard'>User</option>
    <option value='strong'>Strong User</option>
    <option value='admin'>Admin</option>
</select>
<button>Register</button>
</form>