<h1>Reset</h1>

<form method='POST' action='/auth/reset/<%=token%>'>
    <label for='pass'>Password</label>
    <input type='password' name='password' id='pass' placeholder='password'>
    <label for='confirm'>Confirm Password</label>
    <input type='password' name='confirm' id='confirm' placeholder='confirm password'>
    <input type='submit' value='Update'>
</form>